{% extends 'core/base.html' %}
{% load custom_filters %}

{% block title %}Entry for Branch{% endblock %}
{% block heading %}Entry for Branch for {{ date }}-{{ month }}-{{ year }}{% endblock %}
{% if messages %}
    {% block notification %}
        <div id="sticky-message-container"
             class="fixed inset-x-0 flex items-center justify-center z-1 ">
            <div class="bg-green-500 text-white rounded font-bold text-center py-2 px-4">
                {% for message in messages %}
                    <div class="mb-2">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <script>
            setTimeout(function () {
                var stickyMessageContainer = document.getElementById('sticky-message-container');
                stickyMessageContainer.remove();
            }, 1000);
        </script>
    {% endblock %}
{% endif %}

{% block content %}


    <div class="container mx-auto px-4 py-8 max-w-full mx-auto bg-gray-200 rounded-lg shadow-lg">
        <ul>
            <table class="w-full border-collapse">
                <colgroup>
                    <col style="width: 45%;">
                    <col style="width: 45%;">
                    <col style="width: 10%;">
                </colgroup>
                <thead>
                <tr>
                    <th class="border-4 border-gray-500 px-4 py-2">Name</th>
                    <th class="border-4 border-gray-500 px-4 py-2">Location</th>
                    <th class="border-4 border-gray-500 px-4 py-2">Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for branch in branches %}
                    {% if branch_remittance_posted|get_item:branch.id == False %}
                        <tr>
                            <td class="border border-gray-500 px-4 py-2">{{ branch.name }}</td>
                            <td class="border border-gray-500 px-4 py-2">{{ branch.location }}</td>
                            <td class="border border-gray-500 px-4 py-2">
                                <a href="{% url 'accounts:cashbook-entry-selected-branch' branch.id date month year %}"
                                   class="inline-block bg-blue-500 hover:bg-blue-700 text-white py-2 px-6 rounded">Post
                                    Remittance</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </ul>
    </div>
{% endblock %}
