{% extends 'core/base.html' %}

{% block title %}Remittance Form{% endblock %}
{% block heading %}Remittance Form{% endblock %}

{% block content %}
    <div class="max-w-full mx-auto bg-gray-200 p-6 rounded-lg shadow-lg">
        <form method="POST" action="." target="_blank">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_financial_year" class="font-bold">Financial Year (YYYY-YY)</label>
                <input type="" name="financial_year" id="id_financial_year" required>
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Generate</button>
        </form>
    </div>
{% endblock %}