{% extends 'core/base.html' %}

{% block title %}Create Cashbook Entry{% endblock %}
{% block heading %}Create Cashbook Entry{% endblock %}

{% block content %}
    <div class="max-w-full mx-auto bg-gray-200 p-6 rounded-lg shadow-lg">
        <form method="post" action=".">
            {% csrf_token %}

            <div class="flex flex-cols-3 gap-4 w-full">
                <div class="flex flex-col mb-4 w-full">
                    <label for="{{ form.date.id_for_label }}" class="font-bold">Date</label>
                    {{ form.date }}
                </div>
                <div class="flex flex-col mb-4 w-full">
                    <label for="{{ form.month.id_for_label }}" class="font-bold">Month</label>
                    {{ form.month }}
                </div>
                <div class="flex flex-col mb-4 w-full">
                    <label for="{{ form.year.id_for_label }}" class="font-bold">Year</label>
                    {{ form.year }}
                </div>
            </div>

            <div class="flex flex-cols-3 gap-4 w-full">
                <div class="flex flex-col mb-4 w-full">
                    <label for="{{ form.refund_on_exit_amount.id_for_label }}" class="font-bold">NRD
                        Amount</label>
                    {{ form.refund_on_exit_amount }}
                </div>
                <div class="flex flex-col mb-4 w-full">
                    <label for="{{ form.deposits_amount.id_for_label }}" class="font-bold">Deposits Amount</label>
                    {{ form.deposits_amount }}
                </div>
                <div class="flex flex-col mb-4 w-full">
                    <label for="{{ form.loan_amount.id_for_label }}" class="font-bold">Loan Amount</label>
                    {{ form.loan_amount }}
                </div>
            </div>

            <div class="mb-4">
                <label for="{{ form.fund_type.id_for_label }}" class="font-bold">Fund Type</label>
                {{ form.fund_type }}
            </div>

            <div class="mb-4">
                <label for="{{ form.member.id_for_label }}" class="font-bold">Member</label>
                {{ form.member }}
            </div>


            {% if form.errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {{ form.errors }}
                </div>
            {% endif %}

            <div class="flex justify-end mt-6">
                <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
