{% extends 'core/base.html' %}

{% block title %}Apply For Loan{% endblock %}
{% block heading %}Apply for loan{% endblock %}

{% block content %}
    <div class="max-w-full mx-auto bg-gray-200 p-6 rounded-lg shadow-lg">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}

            {% if messages %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="flex justify-end mt-6">
                <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
