<!-- cashbook_entry_list.html -->
{% extends 'core/base.html' %}

{% block title %}Cashbook Entry List{% endblock %}
{% block heading %}All transactions on {{ date }}-{{ month }}-{{ year }}{% endblock %}

{% block content %}
    <div class="max-w-full mx-auto bg-gray-200 p-6 rounded-lg shadow-lg">

        {% if cashbook_entries %}
            <table class="w-full mt-6">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Membership No.</th>
                    <th>Entry</th>
                    <th>NRD Credit</th>
                    <th>NRD Debit</th>
                    <th>Deposits Credit</th>
                    <th>Deposits Debit</th>
                    <th>Loan Credit</th>
                    <th>Loan Debit</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in cashbook_entries %}
                    <tr>
                        <td class="text-center">{{ entry.date }}/{{ entry.month }}/{{ entry.year }}</td>
                        <td class="text-center">{{ entry.member_id }}</td>
                        <td class="text-center">{{ entry.fund_type }}</td>
                        {% if entry.refund_on_exit_amount > 0 %}
                            <td class="text-center">{{ entry.refund_on_exit_amount }}</td>
                            <td class="text-center">---</td>
                        {% elif entry.refund_on_exit_amount == 0 %}
                            <td class="text-center">---</td>
                            <td class="text-center">---</td>
                        {% else %}
                            <td class="text-center">---</td>
                            <td class="text-center">{{ entry.refund_on_exit_amount }}</td>
                        {% endif %}
                        {% if entry.deposits_amount > 0 %}
                            <td class="text-center">{{ entry.deposits_amount }}</td>
                            <td class="text-center">---</td>
                        {% elif entry.deposits_amount == 0 %}
                            <td class="text-center">---</td>
                            <td class="text-center">---</td>
                        {% else %}
                            <td class="text-center">---</td>
                            <td class="text-center">{{ entry.deposits_amount }}</td>
                        {% endif %}
                        {% if entry.loan_amount < 0 %}
                            <td class="text-center">{{ entry.loan_amount }}</td>
                            <td class="text-center">---</td>
                        {% elif entry.loan_amount == 0 %}
                            <td class="text-center">---</td>
                            <td class="text-center">---</td>
                        {% else %}
                            <td class="text-center">---</td>
                            <td class="text-center">{{ entry.loan_amount }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No cashbook entries found.</p>
        {% endif %}
    </div>
{% endblock %}
