{% extends 'core/base.html' %}

{% block title %}Developer's Guide{% endblock %}

{% block content %}
    <div class="mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">Developer's Guide</h1>

        <p class="text-base mb-4">This web application, FundConnect, is created by Daksh Gaur.</p>
        <p class="text-base mb-4">For more information, you can visit <a href="https://www.daksh.fyi"
                                                                         class="text-blue-500 hover:text-blue-700">www.daksh.fyi</a>.
        </p>
        <p class="text-base mb-4">To contact Daksh Gaur, you can send an email to <a href="mailto:hi@daksh.fyi"
                                                                                     class="text-blue-500 hover:text-blue-700">hi@daksh.fyi</a>.
        </p>
        <p class="text-base mb-4">The source code for this app can be found on GitHub at <a
                href="https://github.com/warlock-spell/FundConnect" class="text-blue-500 hover:text-blue-700">github.com/warlock-spell/FundConnect</a>.
        </p>
        <p class="text-base">This app is built with Django and Tailwind CSS. Contributions are welcome and appreciated.
            Feel free to contribute to the development of this app.</p>
    </div>
{% endblock %}
