{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}
{% block heading %}Dashboard{% endblock %}

{% block content %}
    <div class="max-w-full mx-auto bg-gray-200 p-6 rounded-lg shadow-lg">
        {#        <h1 class="text-3xl font-bold mb-6">Dashboard</h1>#}

        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <!-- First three entries -->
            <div class="mb-4">
                <label for="{{ form.name.id_for_label }}" class="font-bold">Name</label>
                {{ form.name }}
            </div>
            <div class="mb-4">
                <label for="{{ form.email.id_for_label }}" class="font-bold">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-4">
                <label for="{{ form.refund_on_exit_monthly_deposit.id_for_label }}" class="font-bold">NRD</label>
                {{ form.refund_on_exit_monthly_deposit }}
            </div>

            <!-- Last six entries -->
            <div class="grid grid-cols-2 gap-4">
                <div class="mb-4">
                    <label for="{{ form.dividend_interest.id_for_label }}" class="font-bold">Dividend Interest in
                        %</label>
                    {{ form.dividend_interest }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.pay_off_period_of_dividend.id_for_label }}" class="font-bold">Pay Off Period of
                        Dividend in Months</label>
                    {{ form.pay_off_period_of_dividend }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.loan_interest.id_for_label }}" class="font-bold">Loan Interest in %</label>
                    {{ form.loan_interest }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.loan_interest_period.id_for_label }}" class="font-bold">Loan Interest Period in
                        Months</label>
                    {{ form.loan_interest_period }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.service_fee_interest.id_for_label }}" class="font-bold">Service Fee Interest in
                        %</label>
                    {{ form.service_fee_interest }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.service_fee_period.id_for_label }}" class="font-bold">Service Fee Period in
                        Months</label>
                    {{ form.service_fee_period }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.loan_monthly_salary_ratio_limit.id_for_label }}" class="font-bold">Service Fee
                        Period in
                        Months</label>
                    {{ form.loan_monthly_salary_ratio_limit }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.loan_share_holding_ratio_limit.id_for_label }}" class="font-bold">Service Fee
                        Period in
                        Months</label>
                    {{ form.loan_share_holding_ratio_limit }}
                </div>
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="flex justify-end mt-6">
                <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
