{% extends 'core/base.html' %}

{% block title %}Create Branch{% endblock %}
{% block heading %}Create Branch{% endblock %}

{% block content %}
    <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg">
        {#        <h1 class="text-3xl font-bold mb-4">Create Branch</h1>#}

        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <div class="space-y-4">
                {{ form.as_p }}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-4 p-4 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button class="mt-6 py-3 px-6 bg-teal-500 hover:bg-teal-700 text-white font-semibold rounded-lg shadow-lg">
                Submit
            </button>
        </form>
    </div>
{% endblock %}
