{% load static %}
<div class="sidebar flex-shrink-0 w-64 bg-gray-600 shadow">
    <!-- Sidebar content here -->
    <div class="py-4 px-8 flex flex-col justify-between h-full">
        <!-- Your sidebar content goes here -->
        <ul class="space-y-4">
            <li>
                <a href="{% url "core:home" %}"
                   class="block text-white hover:text-black border-2 border-gray-400 rounded px-4 py-1">Home</a>
            </li>
            <li>
                <a href="{% url "member:member-home" %}"
                   class="block text-white hover:text-black border-2 border-gray-400 rounded px-4 py-1">Member</a>
            </li>
            <li>
                <a href="{% url "branch:branch-home" %}"
                   class="block text-white hover:text-black border-2 border-gray-400 rounded px-4 py-1">Branches</a>
            </li>
            <li>
                <a href="{% url "accounts:loan-apply" %}"
                   class="block text-white hover:text-black border-2 border-gray-400 rounded px-4 py-1">Apply
                    for loan</a>
            </li>
            <li>
                <a href="{% url "accounts:cashbook-home" %}"
                   class="block text-white hover:text-black border-2 border-gray-400 rounded px-4 py-1">Manage Funds</a>
            </li>
            <li>
                <a href="{% url "dashboard:dashboard-home" %}"
                   class="block text-white hover:text-black border-2 border-gray-400 rounded px-4 py-1">Dashboard</a>
            </li>


            <!-- Add more sidebar items as needed -->
        </ul>

        <!-- Developer's Guide -->
        <ul class="mt-auto space-y-4">
            <li>
                <a href="#" class="block text-white hover:text-black border-2 border-gray-400 rounded px-4 py-1">User's
                    Guide</a>
            </li>
            <li>
                <a href="{% url "core:dev-guide" %}"
                   class="block text-red-400 hover:text-black border-2 border-gray-400 rounded px-4 py-1">Developer's
                    Guide</a>
            </li>
        </ul>

    </div>

</div>
